package ${packageName}.${modularName}.${busName}.entity;

import cn.afterturn.easypoi.excel.annotation.Excel;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.fasterxml.jackson.annotation.JsonInclude;
import lombok.Data;
import lombok.EqualsAndHashCode;
import th.lmoc.common.pojo.base.entity.BaseEntity;
#foreach ($column in $tableField)
#if (${column.javaType} == 'BigDecimal')
#end
#end

/**
 * ${functionName}
 *
 * @author ${authorName}
 * @date ${createDateString}
 */
@EqualsAndHashCode(callSuper = true)
@Data
@TableName("${tableName}")
@JsonInclude(JsonInclude.Include.NON_NULL)
public class ${ClassName} extends BaseEntity {

#foreach ($column in $tableField)
#if (${column.columnKey} == "PRI")
    /**
     * ${column.columnComment}
     */
    @TableId(type = IdType.ASSIGN_ID)
    private ${column.javaType} ${column.javaName};
#elseif (${column.whetherCommon} == 'N')

    /**
     * ${column.columnComment}
     */
#if(${column.javaType} == "Date")
    @Excel(name = "${column.columnComment}", databaseFormat = "yyyy-MM-dd HH:mm:ss", format = "yyyy-MM-dd", width = 20)
    private ${column.javaType} ${column.javaName};
#else
    @Excel(name = "${column.columnComment}")
    private ${column.javaType} ${column.javaName};
#end
#end
#end

}
